*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #fffdf9;
  }
 .logo img{
  height: 40px !important;width: 60px !important;border-radius: 40px 40px 90px 90px;
  }
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #a67b5b;
    padding: 15px 40px;
    box-shadow: 0 2px 10px rgba(61, 37, 2, 0.15);
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
  }

  nav a {
    font-size: 20px;
    color: #fdfdfd;
    text-decoration: none;
    margin: 0 20px;
    transition: color 0.3s ease;
  }

  nav a:hover {
    color: #ffdab9;
  }

  .log-section {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  .login-box {
    background-color: black;
    display: flex;
    align-items: center;
    border-radius: 25px;
    padding: 8px 20px;
    gap: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .login-box:hover {
    background-color: #333;
  }

  .login-box i {
    color: #fafafa;
  }

  .login-box p,
  .log-section p {
    color: #fafafa;
    font-size: 16px;
  }
  .footertext {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: start;
    color: #fff;
    background-color: #a67b5b;
    /* padding: 35px 20px; */
    margin-top: 0px;
    
  }
  .footertext div{
    margin: 20px ;
    

  }
  .footertext p {
    margin: 5px;
    font-size: 18px;
  }
  .icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
  }

  .icons i {
    color: white;
    cursor: pointer;
    transition: transform 0.2s ease;
  }

  .icons i:hover {
    transform: scale(1.2);
    color: #f8d7b1;
  }